.library {
    display: grid;
    grid-template-columns: 18vw 1fr;
    grid-template-areas:
        "sidebar library-content";
    justify-content: stretch;
    align-content: stretch;
}

.library-sidebar {
    grid-area: sidebar;
    border: solid var(--accent-color);
    border-width: 0 2px 0 0;

    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 24px;
}

.library-create-collection-button {
    background-color: var(--secondary-20-color);
    min-height: fit-content;
    height: 6vh;
    width: 100%;
    border: none;
    border-radius: 12px;
    display: flex;

    justify-content: flex-start;
    align-items: center;
    padding: 1em;
    gap: 1em;
    cursor: pointer;
}

.library-create-collection-button p {
    color: var(--text-color);
    font-size: 1.5em;
    font-family: "Mulish Variable";
    margin: 0;
    padding: 0;
}

.library-collection-list {
    background-color: var(--secondary-20-color);
    height: fit-content;
    width: 100%;
    border-radius: 12px;
}

.library-collection-list-title {
    margin: 0;
    font-family: "Mulish Variable";
    padding: 1em 1em 0 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
}

.library-collection-list-title p {
    margin: 0;
    padding: 0;

}

.library-collection-list-title svg {
    cursor: pointer;
}

.library-collection-list-item {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 1em;
    gap: 1em;
    margin: 0;
}

.library-collection-list-game-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.library-collection-list-game-item img {
    height: 3em;
    border-radius: 4px;
}

.library-collection-list-game-item span {
    font-size: 1rem;
}

.library-collection-list-game-item li {
    list-style-type: none;
}

.library-content-list-games {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.library-content-list-game-item {
    list-style-type: none;
    background-color: var(--secondary-30-selected-color);

    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: auto 30% 1fr;
    column-gap: 12px;

    padding: 16px 24px 16px 24px;
}

.library-content-list-game-item-image {
    align-self: center;
    grid-row: 1 / 3;
    grid-column: 1;

    height: 16vh;
    border-radius: 12px;
}

.library-content-list-game-item-title {
    font-family: "Mulish Variable";
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 0.3px;
}

.library-content-list-game-item-button {
    width: 8vw;
    height: 4vh;
    grid-column: 2;
    grid-row: 2;

    background-color: var(--warning-orange);
    border: none;
    cursor: pointer;
    border-radius: 6px;
    align-self: end;

    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;

    display: flex;
    align-items: center;
    justify-content: center;
}

.library-content-list-game-item-button:hover {
    transform: scale(1.14);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.library-content-list-game-item-button p {
    color: var(--text-color);
    font-weight: 600;
    font-size: 12px;
}

.library-content-list-game-item-game-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    justify-content: flex-end;
}

.library-content-list-game-item-game-options button {
    background-color: var(--secondary-30-selected-color);
    height: fit-content;
    width: fit-content;
    padding: 6px;
    border: none;
    border-radius: 6px;

    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;

    cursor: pointer;
}

.library-content-list-game-item-executable-info {
    display: flex;
    flex-direction: row;
    grid-column: 3;
    grid-row: 2;
    flex-wrap: nowrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: space-between;
}

.library-content-list-game-item-executable-info p {
    margin: 0;
    padding: 0;
    font-family: "Mulish Variable";
}

.library-content-list-game-item-executable-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.library-content-list-game-item-executable-info-text-title {
    color: var(--non-selected-text-color);
    font-weight: 700;
}