[package]
name = "fit-launcher"
version = "0.0.1"
description = "FitLauncher"
authors = ["CarrotRub"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
tauri-build = { version = "1.5.4", features = [] }

[dependencies]
tauri = { version = "1.8.0", features = ["api-all"] }
serde = { version = "1.0.209", features = ["derive"] }
serde_json = "1.0.127"
reqwest = { version = "0.12.7", features = ["blocking", "rustls-tls"] }
scraper = "0.20.0"
tokio = { version = "1.40.0", features = ["full"] }
futures-util = "0.3"
kuchiki = "0.8.1"
anyhow = "1.0.86"
lru = "0.12.4"
futures = "0.3.30"
librqbit = { git = "https://github.com/ikatson/rqbit", tag = "v7.1.0-beta.1" }
regex = "1.10.6"
thiserror = "1.0.63"
lazy_static = "1.5.0"
tracing-subscriber = { version = "0.3.18", features = ["env-filter", "json", "ansi"] }
tracing = "0.1.40"
tracing-appender = "0.2.3"
select = "0.6"

[target.'cfg(windows)'.dependencies]
uiautomation = "0.12.2"
windows = { version = "0.58.0", features = [
    "Win32_Foundation",
    "Win32_UI_WindowsAndMessaging",
    "Win32_UI_Controls",
    "Win32_System_SystemInformation"
] }

[target.'cfg(unix)'.dependencies]
fix-path-env = { git = "https://github.com/tauri-apps/fix-path-env-rs" }

[features]
# This feature is used for production builds or when a dev server is not specified, DO NOT REMOVE!!
custom-protocol = ["tauri/custom-protocol"]
