.popular-games-grid {
    grid-area: popular-games;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    height: 100%;
    gap: 2em;
    grid-template-areas:
        "game-presentation"
        "game-skipper";
}

.game-presentation {
    position: relative;
    width: auto;
    height: auto;

    display: flex;
    flex-direction: row;
    align-items: start;
    align-content: stretch;
    justify-content: start;

    grid-area: game-presentation;
    grid-column: 1;
    grid-row: 1;

    margin-bottom: 24px;

}

.game-whole-background {
    position: absolute !important;
    height: 100%;
    width: 100%;
}

.game-presentation>* {
    position: relative;
    z-index: 2;
    /* Content inside stays above the gradient */
}

.game-image-background {
    align-self: center;
    object-fit: cover;
    width: 100%;
    height: 100%;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-icon-pop-games {
    position: relative;
    display: flex;
    width: 100vw;
    justify-content: center;
}

.loading-icon-pop-games svg {
    animation: spin 500ms linear infinite;
}

.main-game-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px 0px 0px;
    gap: 72px;

    width: 100vw;
    height: auto;
}

.main-game-image-zoomed-in {
    height: 36vh;
    width: 48vw;
    display: flex;

    margin-left: 24px;
    justify-content: flex-end;

    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 28px;
}


.main-game-image-zoomed-in img {
    border-radius: 28px;
    opacity: 80%;
    object-fit: cover;

    box-sizing: border-box;

}

.main-game-info-container {
    height: 36vh;
    flex: 1;
    width: 100%;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow-y: scroll;



}

.main-game-info-container:hover {
    transform: translateY(-4px);
    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.2),
        inset 0 1px 2px rgba(255, 255, 255, 0.15);
}

.main-game-info-container::-webkit-scrollbar {
    display: none;
}

.main-game-image-zoomed-in:hover,
.main-game-info-container:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 21px rgba(0, 0, 0, 0.5);
    z-index: 9;

}

.main-game-image-zoomed-in:active,
.main-game-info-container:active {
    transform: scale(0.9);
}

#game-clean-title {
    font-family: 'Lexend Variable', sans-serif;
    font-size: 24px;


    margin-bottom: 0;
    padding-right: 24px;
    margin-top: 12px;
}

#long-game-title {
    max-width: 24vw;

    font-family: 'Mulish Variable';
    font-size: 16px;

    margin-top: 0;
    margin-bottom: 0;

    color: var(--non-selected-text-color);
}

#game-details {
    height: min-content;
    flex-direction: column;
    gap: 8px;

}

#game-details p {
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 32vw;
}

.game-skipper {
    height: 36vh;
    width: 6vw;
    border-radius: 28px;
    display: grid;
    grid-template-rows: 50% 2px 50%;
    grid-template-areas:
        "next-div"
        "divider"
        "previous-div";
    cursor: pointer;
    margin-right: 24px;
}

#next-area-skipper:hover,
#previous-area-skipper:hover {
    transform: scale(0.8)
}

#next-area-skipper:active,
#previous-area-skipper:active {
    transform: scale(1.1);
}

#next-area-skipper {
    grid-area: next-div;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    border-radius: 28px;
}


#previous-area-skipper {
    grid-area: previous-div;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    border-radius: 28px;
}

#previous-next-divider {
    height: 2px;
}

.item-skipper-container {
    box-shadow: 0 1px 0 0 var(--accent-color);
    display: flex;
    justify-content: flex-end;
    width: 100vw;
}

.item-skipper {

    display: flex;
    align-items: center;
    gap: 1em;

    padding-right: 12px;
    align-self: center;

    filter: drop-shadow(0px 0px 32px var(--accent-color));
}

.item-elipse {
    width: fit-content;
    height: fit-content;

    padding-bottom: 12px;

}

/*box-shadow: 0 1px 0 0 var(--accent-color);*/


.item-elipse.active {
    fill: var(--accent-color);
    fill-opacity: 1;
}