.path-input-container {
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
}

.path-input {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid var(--secondary-30-selected-color);
    border-radius: 8px;
    background-color: var(--secondary-30-selected-color);
    color: var(--text-color);
    font-size: 14px;
}

.path-input:focus {
    outline: 1px solid var(--accent-color);
}

.browse-button {
    padding: 8px 16px;
    background-color: var(--accent-color);
    color: var(--text-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

.browse-button:hover {
    background-color: var(--primary-color);
}

.icon-check,
.icon-error {
    width: 24px;
    height: 24px;
}