[package]
name = "fit-launcher-ui-automation"
version = "0.1.0"
edition = "2024"

[dependencies]
fit-launcher-scraping = { path = "../fit-launcher-scraping" }

sysinfo = { workspace = true }
serde = { workspace = true }
tauri = { workspace = true }
tracing = { workspace = true }
fit-launcher-config = { workspace = true }
specta = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }

unrar = "0.5.8"
[target.'cfg(windows)'.dependencies]
uiautomation = { workspace = true }
windows = { workspace = true }
windows-result = { workspace = true }

[target.'cfg(unix)'.dependencies]
fix-path-env = { workspace = true }
