/* UPDATED REPACKS, FOCUS ON THIS FIRST.*/

  .recently-updated {
    display: inline-grid;
    grid-auto-flow: column;
    grid-area: Recently-Updated;
    gap: 2em;
    grid-auto-rows: 200px;
    overflow-x: visible;
    position: relative;
    /* background-color: rgb(197 197 197 / 50%);
    backdrop-filter: blur(10px);  */
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  */
    
}

.Recently-Updated { 
    grid-row: 3; 
    display: flex;
    gap: 1em;
    padding-left: 2em;
    flex-direction: column; 
} 

  .newly-added::-webkit-scrollbar {
    display: none; /* Hide the default scrollbar */
  }
  

  .updated-games-container {
    display: inline-flex;
    width: 100vw;
    gap: inherit;
  }

  .recently-updated img {
    grid-column: span 1;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 150px;
    max-height: -webkit-fill-available;
    border-radius: 18px;
    cursor: pointer;
    box-shadow: 0px 4px 12px rgb(0 0 0 / 43%);
    transition: transform 0.3s ease;
  }

  .recently-updated img:hover {
    transform: scale(1.1);
  }
  
  .gamehub-unique-game-title {
    margin-top: 0.5rem;
    font-size: 1.2rem;
  }



  