.popup-overlay {
    z-index: 11;
    position: fixed;
    /* Use fixed for a full-screen overlay */
    top: 0;
    left: 0;
    height: 100%;
    /* Ensure it covers the entire viewport */
    width: 100%;
    background-color: var(--70-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(6px);
    overflow-y: auto;
    /* Enable scrolling for the overlay */
}

.download-popup {
    z-index: 13;
    position: relative;
    margin-top: 5%;
    background-color: var(--popup-background-color);
    min-height: 80vh;
    max-height: 90vh;
    min-width: 60vh;
    max-width: 90vw;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    padding-right: 8px;

    &::-webkit-scrollbar {
        width: 12px;
        height: 80%;

    }

    &::-webkit-scrollbar-track {
        background: var(--secondary-30-selected-color);
        border-radius: 32px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--accent-color);
        border-radius: 32px;
        border: 1px solid var(--primary-color);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: var(--secondary-20-color);
    }

    &::-webkit-scrollbar-button {
        display: none;
    }
}

.popup-overlay.show .download-popup {
    transform: scale(1);
    opacity: 1;

}

.popup-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
}

.popup-content p {
    margin: 0;
    padding: 0;
    width: fit-content;
}

.popup-text-title {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: fit-content;
}

.popup-main-title {
    font-size: 24px;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 0;
    padding: 0;
}

.popup-secondary-title {
    font-size: 16px;
    font-weight: 400;
    color: var(--non-selected-text-color);
    margin: 0;
    padding: 0;
}

.popup-choose-path {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.popup-path-input-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 24px;
}

.popup-path-input-div {
    display: flex;
    width: auto;
}

.popup-path-input {
    background-size: 20px;

    height: 5vh;
    width: 16vw;

    min-width: fit-content;
    padding-left: 1rem;
    padding-right: 6px;

    border-radius: 12px;
    border: none;

    background-color: var(--secondary-30-selected-color);
    color: var(--text-color);
}


/* #folder-icon-popup {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
} */
.popup-h2-title {
    font-size: 18px;
    font-weight: 600;
    color: var(--text-color);
    width: fit-content;
}

.popup-choose-options {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.popup-list-options {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: fit-content;
    margin: 0;
    padding-left: 0px;
}

.popup-list-options li {
    background-color: var(--secondary-30-selected-color);
    height: fit-content;
    list-style: none;
    display: flex;
    gap: 4px;
    padding: 8px;
    border-radius: 4px;
}

.popup-item-options i {
    padding-left: 4px;
    font-size: 12px;
    color: var(--non-selected-text-color);
}

.popup-buttons {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-self: center;
    margin-bottom: 32px;
}

.loading-icon-popup {
    position: relative;
    display: flex;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    align-items: center;
    align-content: center;
    justify-content: center;

}

.loading-icon-popup svg {
    animation: spin 500ms linear infinite;
}

.torrent-additional-files-details {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.popup-additional-files-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: var(--secondary-30-selected-color);
    border-radius: 12px;
    overflow: hidden;
}

.popup-additional-files-container li {
    list-style: none;
    padding: 8px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: var(--secondary-20-color);
}


.popup-category-list-options {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
}


.switch {
    position: absolute;
    right: 10%;
    display: inline-block;
    width: 3rem;
    height: 1.5rem;

    /* Hide default HTML checkbox */
    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked+.switch-slider {
            background-color: var(--accent-color);

            &::before {
                transform: translateX(26px);
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
            }
        }
    }

    .switch-slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--secondary-30-selected-color);
        transition: .4s;
        -webkit-transition: .4s;

        &::before {
            position: absolute;
            content: "";
            width: 1rem;
            height: 1rem;
            left: 4px;
            bottom: 4px;
            background-color: var(--secondary-color);
            transition: .4s;
            -webkit-transition: .4s;
        }

        &.round {
            border-radius: 34px;

            &::before {
                border-radius: 50%;
            }
        }
    }
}