.download-game {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: 50% auto;
    grid-template-columns: 1fr;
    align-items: start;
    align-content: stretch;
    grid-template-areas:
        "game-background"
        "game-info";
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-icon {
    align-self: center;
    align-content: center;
    justify-self: center;
    animation: spin 500ms linear infinite;
}

.loading-icon svg {
    color: var(--secondary-color);
}

.download-game-background {
    grid-area: game-background;
    height: -webkit-fill-available;
    width: 100vw;
}

#download-game-return-button {
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    /* background-color: var(--secondary-color); */
    margin-top: 24px;
    margin-left: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#download-game-return-button svg {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    transform: scale(1, -1);
}

#download-game-return-button svg:hover {
    transform: scale(1.2, -1.2);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.download-game-info {
    margin-top: 1px;
    /* This is extremely important to not get the small cut becuz the image is centered*/
    grid-area: game-info;
    height: 100%;
    display: grid;
    grid-template-rows: min-content auto;
    grid-template-areas:
        "main-info"
        "secondary-info";
}

.download-game-main-info {
    grid-area: main-info;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    gap: 2em;
    padding: 0px 24px 12px 24px;
    overflow-x: auto;
    box-shadow: 0 2px 0 0 var(--accent-color);
}

.download-game-main-info::-webkit-scrollbar {
    width: 12px;
    /* Width of the scrollbar */
    height: 12px;
    /* Height for horizontal scrollbar */
    cursor: pointer;
}

/* Scrollbar track */
.download-game-main-info::-webkit-scrollbar-track {
    background-color: var(--background-color);
    /* Background color of the track */
    border-radius: 10px;
    /* Optional: for rounded corners */
}

/* Scrollbar thumb */
.download-game-main-info::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    /* Color for the thumb */
    border-radius: 10px;
    /* Optional: for rounded corners */
}

/* Scrollbar thumb when hovered */
.download-game-main-info::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent-color);
    /* Color for the thumb when hovered */
}

.download-game-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: fit-content;

}

#download-game-main-title,
#download-game-secondary-title {
    white-space: normal;
}

#download-game-main-title {
    grid-area: main-title;

    font-size: 36px;
    font-weight: 700;
    letter-spacing: -0.8px;

    max-width: 20ch;

    margin: 0;
    padding: 0;

    /* width: fit-content;
    white-space: nowrap;
    display: inline-block;  */
}

#download-game-secondary-title {
    grid-area: secondary-title;

    color: var(--non-selected-text-color);
    font-size: 12px;
    font-weight: 200;
    font-style: italic;
    letter-spacing: -0.6px;

    margin: 0;
    padding: 0;

    /* width: fit-content;
    white-space: nowrap;
    display: inline-block;  */
}

.download-game-download-button {
    background: var(--accent-color);
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 0px 24px 0px 24px;
    margin: 8px 0px 8px 0px;
    height: max-content;
    transition: background 300ms;
}

.download-game-download-button:hover {
    background: var(--secondary-color);
}

.download-game-info-box-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3em;
    margin-left: 2em;
}

.download-game-info-box {
    display: flex;
    align-items: center;
    border-radius: 12px;
    flex-direction: row;
    gap: 12px;
    height: fit-content;
}

.download-game-info-box-info-content p {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 20ch;
}

.download-game-info-box-info-content i {
    font-weight: 500;
}

.download-game-info-box-info-content span {
    color: var(--non-selected-text-color);
    font-weight: 600;
    white-space: nowrap;
}

.download-game-info-box-info-content {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: start;
    row-gap: 8px;
}

.info-box-text {
    font-weight: 600;
}

.download-game-secondary-info {
    grid-area: secondary-info;
    display: grid;
    /* Changed to grid for full grid functionality */
    grid-template-columns: 1fr 1fr;
    /* Two columns, each taking 50% width */
    grid-template-rows: 1fr;
    /* Single row to align both columns */
    grid-template-areas:
        "description miscellaneous";

    height: 100%;
    width: 100%;

    padding-left: 24px;
    gap: 4em;
}

.download-game-description-container {
    grid-area: description;
}

#download-game-description-text {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 40vh;
    overflow-y: auto;
}


.download-game-description-container p::-webkit-scrollbar {

    width: 12px;
    height: 12px;
    cursor: pointer;
}


.download-game-description-container p::-webkit-scrollbar-track {
    background-color: var(--background-color);
    border-radius: 10px;

}


.download-game-description-container p::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    max-height: 1px;
    border-radius: 10px;
    cursor: pointer;
}

.download-game-description-container p::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent-color);

    cursor: pointer;
}

.download-game-miscellaneous-info {
    grid-area: miscellaneous;
}


/* ICON HEART FAV*/
/* From Uiverse.io by catraco */

#download-game-favorite-button {
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    right: 2%;
    /* background-color: var(--secondary-color); */
    margin-top: 24px;
    margin-left: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#download-game-favorite-button svg {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

#download-game-favorite-button svg:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


/* From Uiverse.io by Omar-Molotov */
/*------ Settings ------*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 32px;
    user-select: none;
    fill: var(--primary-color)
}

.container .save-regular {
    position: absolute;
    animation: keyframes-fill 1s;
    transform-origin: top;
}

.container .save-solid {
    position: absolute;
    animation: keyframes-fill 1s;
    display: none;
    transform-origin: top;
}

/* Hover effect */

/* ------ On check event ------ */
.container input:checked~.save-regular {
    display: none;
}

.container input:checked~.save-solid {
    display: block;
}

/* ------ Hide the default checkbox ------ */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
    0% {
        transform: scale(0.8);
        opacity: 80%;
    }

    50% {
        transform: scaleY(1);
    }
}