.hover-title {
    position: absolute;
    background-color: rgba(37, 37, 37, 0.86);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    left: 80%;
    transform: translate(0%, -150%);
    max-width: 300px;
    max-height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 99;
  }
  
  .hover-title .title {
    font-weight: 700;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    box-orient: vertical;
  }
  
  .hover-title .detail {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .scroll-button {
    cursor: pointer;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  }
  