.slider-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;

}

.slider-container {
    display: flex;
    gap: 12px;
    transition: transform 0.4s ease;
    overflow-x: hidden;
    padding: 12px;
    scroll-snap-type: x mandatory;
}

.slider-image-container {
    flex-shrink: 0;
    width: calc(375px * 0.5);
    height: calc(500px * 0.5);
    border-radius: 12px;
    overflow: hidden;
    border: 2px solid var(--accent-color);
    scroll-snap-align: center;
    z-index: 8;
}


.image-slider-gradient {

    position: absolute;
    left: 0;
    width: 100vw;

    height: calc((500px* 0.5) + 24px);
    mask-image: linear-gradient(to right, transparent, black 20%);
    -webkit-mask-image: linear-gradient(to right, transparent 70%, black 100%);

    background-color: var(--background-color);
    align-self: flex-end;

    pointer-events: none; /* If this isn't none then it will be clickable and that's no no good*/
    z-index: 9;
}

.skipper-slider-container {
    position: absolute;
    top: 50%;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none; /* If this isn't none then it will be clickable and that's no no good*/
    z-index: 10;
    
}

.skipper {
    color: var(--accent-color);
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: all;

    display: flex;
}

.skipper.right {
    margin-left: auto;
}

.skipper.hidden {
    display: none;
}

