.popup-addtocollection-overlay {
 z-index: 14;

 position: fixed;
 height: 100%;
 width: 100%;
 background-color: var(--70-background-color);

 display: flex;
 align-items: center;
 align-content: center;
 justify-content: center;
 backdrop-filter: blur(6px);
}

.basic-addtocollection-popup {
 z-index: 15;
 transform: translateY(-5%);
 transform: scale(0.5);
 opacity: 0;
 transition:
  transform 0.3s ease,
  opacity 0.3s ease;

 display: flex;
 flex-direction: column;
 justify-content: space-between;
 position: relative;
 padding: 16px;
 box-sizing: border-box;
 min-height: 50vh;
 height: 50vh;
 max-height: fit-content;
 width: 50vw;
 max-width: fit-content;
 background-color: var(--popup-background-color);
 border-radius: 32px;
}

.popup-addtocollection-overlay.show .basic-addtocollection-popup {
 transform: scale(1);
 opacity: 1;
}

.popup-footer-container {
 color: var(--non-selected-text-color);
 margin-bottom: 8px;
 font-size: 12px;
 font-style: italic;
 position: absolute;
 bottom: 1%;
 display: flex;
}

.popup-collection-container {
 display: flex;
 flex-direction: column;
 gap: 24px;
 margin: 21px 0;
}

.popup-collection-item {
 display: flex;
 align-items: center;
 font-size: 16px;
 background-color: var(--secondary-30-selected-color);
 border-radius: 12px;
 padding: 21px;
 color: var(--text-color);
 list-style-type: none;
}

.popup-collection-item label {
 cursor: pointer;
}
