.global-page {
    width: auto;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 12px;
    justify-content: space-between;
}

.global-page-group {
    display: flex;
    flex-direction: column;

    & .global-page-group-title {
        font-family: "Mulish Variable";
        font-size: 32px;
        font-weight: 600;
        line-height: 1;
        padding-bottom: 12px !important;
    }
}

.global-page-group-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 12px;

    & li {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 90%;
        border-radius: 6px;
        background-color: var(--secondary-20-color);
        height: 4vh;
        padding: 12px;

        & span {
            font-family: "Mulish Variable";
            font-size: 18px;
            font-weight: 600;
            line-height: 1;
        }
    }
}

.settings-path-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--secondary-30-selected-color);
    padding: 12px 12px 12px 12px;
    border-radius: 4px;
    margin-left: 1em;

    & .settings-path-text {
        font-family: "Mulish Variable";
        font-size: 14px;
        font-weight: 300;
        font-style: italic;
        line-height: 1;
        word-spacing: 0.8px;
        color: var(--non-selected-text-color);
        user-select: text;
    }

    & .settings-path-input {
        font-family: "Mulish Variable";
        font-size: 14px;
        font-weight: 300;
        font-style: italic;
        line-height: 1;
        word-spacing: 0.8px;
        background-color: transparent;
        border: none;
        color: var(--text-color);
        user-select: text;

        &:disabled {
            color: var(--non-selected-text-color);
        }
    }

    & input[type="number"]::-webkit-inner-spin-button,
    & input[type="number"]::-webkit-outer-spin-button,
    & input[type="text"]::-webkit-inner-spin-button,
    & input[type="text"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;

        &:focus {
            outline: none;
        }


    }

    /* For Firefox */
    & input[type="number"],
    & input[type="text"] {
        -moz-appearance: textfield;
        appearance: textfield;

        &:focus {
            outline: none;
        }
    }

}

.save-settings-button,
.reset-settings-button {
    align-self: flex-end;
    /* Align the button to the bottom-right corner if needed */
    width: 8vw;
    min-width: fit-content;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-30-selected-color);
    border: none;
    border-radius: 6px;
    margin-bottom: 24px;

    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.5s ease;

    & span {
        font-size: 16px;
        color: var(--accent-color);
    }

    &:hover {
        transform: scale(0.9);
    }

    &:active {
        background-color: var(--primary-color);
    }
}

.clear-cache-settings-button,
.go-to-logs-settings-button {
    width: 8vw;
    min-width: fit-content;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--70-background-color);
    border: none;
    border-radius: 6px;
    position: relative;
    justify-self: flex-end;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.5s ease;
    margin-left: auto;
    border-color: var(--accent-color);
    border-width: 2px;
    border-style: solid;

    & span {
        font-size: 16px;
        color: var(--accent-color);
    }

    &:hover {
        transform: scale(0.9);
    }

    &:active {
        background-color: var(--primary-color);
    }
}

.global-settings-buttons-container {
    margin-right: 10%;
    /* Becuz it has to be 10% to the right cuz the size of one length of an item is 90%*/
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    gap: 12px;
}

.plus-button-settings {
    width: 3vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--70-background-color);
    border: none;
    border-radius: 6px;
    position: relative;
    justify-self: flex-end;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.5s ease;
    margin-left: 24px;
    border-color: var(--accent-color);
    border-width: 2px;
    border-style: solid;

    & span {
        font-size: 16px;
        color: var(--accent-color);
    }

    &:hover {
        transform: scale(0.9);
    }

    &:active {
        background-color: var(--primary-color);
    }

    &:disabled {
        pointer-events: none;
        color: var(--non-selected-text-color);
    }
}

.theme-dropdown {
    margin-left: auto;
    cursor: pointer;
    position: relative;
    height: 100%;
    align-self: flex-start;
    z-index: 12;

    & * {
        padding: 4px;
        margin: 0;

    }

    & .solid-select-input {
        display: none;
    }

    & .solid-select-control {
        border: 2px solid var(--accent-color);
        border-radius: 6px;
        background-color: var(--secondary-20-color);
        box-shadow: none;
    }

    & .solid-select-control:focus-within {
        outline: none;
        border-color: var(--primary-color);
    }

    & .solid-select-placeholder {
        color: var(--text-color);
        opacity: 0.8;
    }

    & .solid-select-option {
        background-color: var(--popup-background-color);
        border-radius: 4px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    & .solid-select-option:hover {
        background-color: var(--secondary-30-selected-color);
        color: #fff;
    }

    & .solid-select-option[data-focused="true"] {
        background-color: var(--primary-color);
        color: #fff;
    }
}

.slidecontainer {
    margin-left: auto;
    width: 70%;

}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 70%;
    height: 12px;
    background: var(--70-background-color);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 6px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background: var(--accent-color);
    cursor: pointer;
    border-radius: 50%;
}

.slider::-moz-range-thumb {
    width: 24px;
    height: 24px;
    background: var(--accent-color);
    cursor: pointer;
    border-radius: 50%;
}