body {
    margin: 0;
    padding: 0;
    font-family: 'IBMPlexSansRegular', sans-serif; 
  }




  /* NEWLY ADDED GAMES, FOCUS ON THIS FIRST.*/

  .newly-added {
    display: inline-grid;
    grid-auto-flow: column;
    grid-area: Newly-Added;
    gap: 2em;
    grid-auto-rows: 200px;
    overflow-x: auto;
    position: relative;
    
}
  .newly-added::-webkit-scrollbar {
    display: none; /* Hide the default scrollbar */
  }
  

  .games-container {
    display: inline-flex;
    gap: inherit;
  }
  
  /* Optional: Adjust styling for the image and title */
  .newly-added img {
    grid-column: span 1;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    max-height: -webkit-fill-available;
    border-radius: 18px;
    cursor: pointer;
  }
  
  .gamehub-unique-game-title {
    margin-top: 0.5rem;
    font-size: 1.2rem;
  }
  #start-scroll-button {
    position: absolute; /* Position relative to the parent .newly-added */
    left: 0; /* Position at the left */
  }
  
  #end-scroll-button {
    position: absolute; /* Position relative to the parent .newly-added */
    right: 0; /* Position at the right */
  }


  