.downloads-page {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.downloads-page-action-bar {
    width: 100%;
    height: 8vh;

    background-color: var(--popup-background-color);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;


}

.downloads-page-delete-all {
    background-color: var(--popup-background-color);
    cursor: pointer;
    border: none;
    height: fit-content;

    padding-right: 2em;
}

.downloading-game-item {
    margin-top: 1em;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    padding: 21px 24px 21px 24px;
    background-color: var(--secondary-30-selected-color);
    height: fit-content;
}

.downloading-main-info-game {
    display: flex;
    flex-direction: row;
    height: fit-content;
    gap: 2em;
    align-items: center;
}

.downloading-game-image {
    height: 21vh;
    display: block; 
}

.downloading-secondary-info-game {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    gap: 32px;
}

.downloading-download-info {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.custom-checkbox-download input[type="checkbox"] {
    display: none;
}

.custom-checkbox-download .checkbox-mark-download {
    width: 20px;
    height: 20px;
    border: 2px solid var(--accent-color);
    display: inline-block;
    position: relative;
    margin-right: 10px;
    vertical-align: middle;
    background-color: transparent;
    cursor: pointer;
    box-sizing: border-box;
    transition: border-color 0.3s, background-color 0.3s;
}

.custom-checkbox-download .checkbox-mark-download::after {
    content: '';
    width: 14px;
    height: 14px;
    background-color: var(--secondary-30-selected-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.3s, transform 0.3s, width 0.3s, height 0.3s;
}

.custom-checkbox-download input[type="checkbox"]:checked + .checkbox-mark-download::after {
    background-color: var(--primary-color); 
    width: 8px;
    height: 8px;
    transform: translate(-50%, -50%) scale(1); 
}

.downloading-action-button {
    color: var(--text-color);
    font-weight: 700;
    font-size: 18px;
    display: flex;
    background-color: var(--secondary-color);
    height: 8vh;
    width: 12vw;
    border: none;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.downloading-action-button p {
    margin: 0;
    padding: 0;
}

.downloading-download-bar-container {
    display: flex;
    flex-direction: column;
    width: 21vw;
    height: 4vh;
    align-items: center;
    gap: 2px;
}

.downloading-download-bar-info-container {
    display: flex;
    width: 90%; /* Not 100% just so that it won't stick to the end due to border-radius of the download bar*/
    justify-content: space-between;
}

.downloading-download-bar-info-container p {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.downloading-download-bar-download-percentage {
    color: var(--non-selected-text-color);
}

.downloading-download-bar {
    flex: 1;
    height: 1em;
    width: 100%;

    border-radius: 50px;
    position: relative;
    background-color: var(--secondary-30-selected-color);
    transition: width 0.3s ease; 

}

.downloading-download-bar-active {
    position: absolute;
    height: inherit;
    width: 1%;
    border-radius: inherit;
    background-color: var(--accent-color);
}

.no-downloads {
    text-align: center;
    font-size: 1.2em;
    color: #666;
    margin-top: 20px;
}
