/* src/components/Carousel.css */
.carousel {
  /* position: relative;
  width: 50vw;
  max-width: 50vw;
  margin: auto;
  overflow: hidden;
  border-radius: 15px; */
  position: relative;
  width: 50vw;
  max-width: 50vw;
  display: flex;
  margin: auto;
  overflow: hidden;
  border-radius: 15px;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: nowrap;

}

.carousel-images {
  display: flex;
  width: fit-content;
  transition: transform 0.5s ease-in-out;
  border-radius: 15px;
  text-align: -webkit-center;
}

.carousel-image-container {
  position: relative;
  flex: 0 0 50vw;
  max-width: 100%;
  border-radius: 15px;
}

.image-placeholder {
    /* position: absolute; Because it blocks everything. */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff2d;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    z-index: 1;
  }
   
  .image-placeholder::after {
    content: '';
    width: 40px;
    height: 40px;
    border: 2px solid #6d6b6be3;
    border-top-color: #9b9999;
    border-radius: 50%;
    animation: spin 0.2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

.carousel-image {
  /* width: 70%;
  object-fit: cover;
  border-radius: 15px;
  filter: brightness(1);
  display: block;
  z-index: 0;
  margin: auto; */
  width: 80%;
  /* height: 80%; */
  display: flex;
  justify-content: space-evenly;
  border-radius: 15px;
}

.carousel-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  margin-top: 10px;
}

.carousel-control {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border: none;
  display: inline-flex;
  padding: 10px;
  cursor: pointer;
  border-radius: 60%;
  width: 30px;
  height: 30px;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.carousel-control.prev {
  margin-right: 10px;
}

.carousel-control.next {
  margin-left: 10px;
}

.carousel-thumbnails {
  display: flex;
  justify-content: center;
  border-radius: 15px;
}

.carousel-thumbnail {
  width: 80px;
  height: 50px;
  margin: 0 5px;
  cursor: pointer;
  transition: transform 0.2s;
  border-radius: 15px;
}

.carousel-thumbnail.active {
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 15px;
}

.carousel-thumbnail:hover {
  transform: scale(1.1);
  border-radius: 15px;
}
