.launcher-container {
  display: flex;
  height: 100vh;
}

.game-container::-webkit-scrollbar {
display: none;
}

/* Track */
.game-container::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.39);
border-radius: 10px;
}

/* Handle */
.game-container::-webkit-scrollbar-thumb{
display:none;
}

/* Base styles for the context menu */
.custom-context-menu {
  position: absolute;
  background: rgb(179 176 176 / 41%);
  backdrop-filter: blur(10px);
  box-shadow: 0px 7px 16px 5px rgb(0 0 0 / 40%);
  border-radius: 10px;
  padding: 10px 0;
  z-index: 1000;
  min-width: 150px;
  color: #ffffff;
}

/* Styles for each context menu item */
.context-menu-item, .custom-game-context-menu {
  padding: 10px 20px; /* Spacing within each menu item */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth background color transition */
  text-align: left; /* Align text to the left */
}

/* Hover effect for context menu items */
.custom-context-menu .context-menu-item:hover, .custom-game-context-menu .context-menu-item:hover  {
  background-color: rgba(255, 255, 255, 0.3); /* Slightly more opaque background on hover */
  backdrop-filter: blur(15px); /* Increase blur slightly on hover */
}

/* Shadow effect for each item */
.context-menu-item {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px; 
}

/* Add some spacing between the menu items */
.context-menu-item + .context-menu-item {
  margin-top: 5px;
}

/*Add transition effects to the menu */
.custom-context-menu .context-menu-item, .custom-game-context-menu .context-menu-item  {
  opacity: 0;
  transform: translateY(-10px);
  animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.swal2-results-box {
  max-height: 150px;
  overflow-y: scroll;
  border: 1px solid #535353;
  border-radius: 4px;
  margin-top: 10px;
  padding: 10px;
  box-shadow: -2px 4px 20px 4px rgb(0 0 0 / 50%);
  z-index: 10000;

  /* Hide scrollbar for WebKit browsers */
  scrollbar-width: none; /* For other OSes*/
  -ms-overflow-style: none;  /* Internet Explorer and Edge */
}

.swal2-results-box::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
/* Individual result item */
.search-result-item {
  padding: 8px 12px;
  cursor: pointer;
  color: aliceblue;
  border-radius: 3px;
}

/* Highlight selected result */
.search-result-item.swal2-selected-result {
  background-color: #007bff; /* Blue background for selected item */
  color: #fff; /* White text for selected item */
}

/* Add hover effect */
.search-result-item:hover {
  color: #19191a;
  background-color: #f0f0f0; 
}

.game-grid {
    display: flex;
    flex-wrap: wrap; /* Enable wrapping */
    gap: 2em; 
    overflow-x: unset;
    overflow-y: hidden;
    position: relative;
    padding-left: 15px;
}

/* Container outside of game-grid styles */
.game-container {
  flex: 1;
  z-index: 1;
  width: 100%;
  list-style: none;
  overflow: hidden;
  height: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: scroll;

}

.game-container-title {
  color: white;
  z-index: 1000; 
  padding-left: 15px;
}

.game-grid > * {
    height: 20vw;
}

.game-grid img {
    display: block; /* Use block to ensure the image fills the grid cell */
    object-fit: cover; 
    max-height: 100%; 
    border-radius: 18px; 
    cursor: pointer;
}

.image-option img {
    display: block; 
    object-fit: cover;
    max-height: 100%; 
    border-radius: 18px;
    cursor: pointer; 
}

.color-blur-overlay,
.blur-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: saturate(3);
  background-size: cover;
  background-position: center;
  filter: blur(0);
  z-index: -1;
}


/* Warning icon style */
.image-option {
  position: relative; /* Ensure the warning icon positions relative to this container */
  display: inline-block;
}


  
  .warning-icon {
    position: absolute;
    top: 5px;
    left: 1px;
    z-index: 10;
  }
  
  .warning-icon svg {
    width: 32px;
    height: 32px;
    fill: #cb6504;
  }

/* From Uiverse.io by vinodjangid07 Thank You :3*/ 
.button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px 6px rgba(70, 58, 112, 0.66);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
  }
  
  .svgIcon {
    width: 12px;
    transition-duration: 0.3s;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .button:hover {
    width: 120px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(92, 66, 187);
    align-items: center;
  }
  
  .button:hover .svgIcon {
    width: 20px;
    transition-duration: 0.3s;
    transform: translateY(-200%);
  }
  
  .button::before {
    position: absolute;
    bottom: -20px;
    content: "Import Game";
    color: white;
    transition-duration: .3s;
    font-size: 1px;
  }
  
  .button:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    transition-duration: 0.3s;
  }

  .add-game-container {
    display: flex;
    align-items: center;
    margin-left: 5vw;
  }
