.popup-choice-overlay {
    z-index: 14;

    position: fixed;
    height: 100%;
    width: 100%;
    background-color: var(--70-background-color);

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    

}

.basic-choice-popup {
    z-index: 15; /* More than 13 so that if it appears in any other popups it will be higher*/
    position: absolute;
    transform: translateY(-5%);
    background-color: var(--popup-background-color);
    min-height: 50vh;
    max-height: fit-content;
    width: 50vw;
    max-width: fit-content;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popup-footer-container {
    color: var(--non-selected-text-color);
    margin-bottom: 8px;
    font-size: 12px;
    font-style: italic;
    position: absolute;
    bottom: 20%;
    display: flex;
}