.popup-game-settings-div {
    display: flex;
    width: auto;
}

.popup-input-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
    width: fit-content;
}

.popup-game-settings-input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: fit-content;
}