/* General Styling */
body {
  background-color: #1e1e1e;
  margin: 0;
  padding: 0;
  font-family: 'IBMPlexSans', sans-serif;
  color: #fff;
}

/* Settings Page Container */
.settings-page {
  padding: 15px;
  font-family: 'IBMPlexSans', sans-serif;
}

/* Headings */
.settings-page h1 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 15px;
  border-bottom: 2px solid #C54B8C;
  padding-bottom: 8px;
  font-size: 2em;
}

.settings-page h2 {
  font-size: 18px;
  color: #C54B8C;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 4px;
}

/* Form Group */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  color: #fff;
}

.form-group input[type="checkbox"] {
  transform: scale(1.1);
  margin-right: 8px;
  cursor: pointer;
}

/* Button and Path Output Alignment */
.upload-container {
  display: block;
  align-items: center;
}

/* The button wrapper */
.upload-btn-wrapper {
  flex: 0 0 auto;
}

/* Path Box Inline - flex container for path output and clear button */
.path-box-inline {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-top: 8px;
}

/* Styling for the path output next to the button */
.path-output-inline {
  background-color: #2a2a2a;
  display: block;
  width: 500px; 
  padding: 8px 30px 8px 8px; 
  border-radius: 6px;
  color: #ddd;
  font-size: 12px;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

/* Clear Button Styling - Positioned inside the path box */
.clear-btn {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: #bdbbbd;
  cursor: pointer;
  font-size: 0.9em;
  padding: 0;
}



/* Smaller Button Styling */
.upload-btn, .boton-elegante {
  border: 1px solid #2c2c2c;
  background-color: #1a1a1a;
  color: #ffffff;
  padding: 10px 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: inline-block;
}




.upload-btn:hover, .boton-elegante:hover {
  background-color: #333;
}

/* Notifications */
.notification {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  position: fixed;
  top: 16px;
  right: 16px;
  border-radius: 5px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.notification.show {
  opacity: 1;
}

/* Social Links */
.card {
  display: flex;
  height: 40px;
  width: 220px;
  margin-bottom: 15px;
}

.card svg {
  width: 40px;
  height: 40px;
  padding: 0.2rem;
  cursor: pointer;
}

.card .social-link1, .card .social-link2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  color: whitesmoke;
  font-size: 20px;
  text-decoration: none;
  border-radius: 40px;
}

.card .social-link1:hover {
  background: #333;
}

.card .social-link2:hover {
  background-color: #5865f2;
}

/* Responsive Design */
@media (max-width: 600px) {
  .settings-page {
    padding: 15px;
    margin: 20px auto;
  }


  .card {
    width: 100%;
  }
}
