/* General Styling */
body {
  background-color: #1e1e1e;
  margin: 0;
  padding: 0;
  font-family: 'Overpass Variable', sans-serif;
  color: #fff;
}

/* Settings Page Container */
.settings-page {
  padding: 15px;
  font-family: 'Overpass Variable', sans-serif;
}

/* Headings */
.settings-page h1 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 15px;
  padding-bottom: 8px;
  font-size: 2em;
}

.settings-page h2 {
  font-size: 18px;
  color: #C54B8C;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 4px;
}

/* Form Group */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  color: #fff;
}

.form-group input[type="checkbox"] {
  transform: scale(1.1);
  margin-right: 8px;
  cursor: pointer;
}

/* Button and Path Output Alignment */
.upload-container {
  display: block;
  align-items: center;
}

/* The button wrapper */
.upload-btn-wrapper {
  flex: 0 0 auto;
}

/* Path Box Inline - flex container for path output and clear button */
.path-box-inline {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-top: 8px;
}

/* Styling for the path output next to the button */
.path-output-inline {
  background-color: #2a2a2a;
  display: block;
  width: 500px; 
  padding: 8px 30px 8px 8px; 
  border-radius: 6px;
  color: #ddd;
  font-size: 12px;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

/* Clear Button Styling - Positioned inside the path box */
.clear-btn {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: #bdbbbd;
  cursor: pointer;
  font-size: 0.9em;
  padding: 0;
}


/* Smaller Button Styling */
.upload-btn, .check-update-btn, .boton-elegante, .show-changelog-btn {
  border: 1px solid #2c2c2c;
  background-color: #1a1a1a;
  color: #ffffff;
  padding: 10px 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 16px;
  transition: background-color 0.3s ease;
  display: inline-block;
}

.show-changelog-btn {
  margin: 0px 10px ;
}


.upload-btn:hover,.check-update-btn:hover, .boton-elegante:hover, .show-changelog-btn {
  background-color: #333;
  border-color: #656464;
  box-shadow: 0 0px 10px rgb(101 107 115 / 64%);
}

/* Notifications */
.notification {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  position: fixed;
  top: 16px;
  right: 16px;
  border-radius: 5px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.notification.show {
  opacity: 1;
}

/* Social Links */
.social-links {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.card {
  display: flex;
  height: 40px;
  gap: 1em;
  width: 220px;
  margin-bottom: 15px;
}

.card svg {
  width: 50px;
  height: 50px;
  padding: 0.2em;
  cursor: pointer;
}

.card .social-link1, .card .social-link2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: whitesmoke;
  font-size: 20px;
  text-decoration: none;
  border-radius: 50%;
  transition: all 0.5s ease;
}

.card .social-link1:hover {
    background: #333;
    transform: scale(1.2);
    box-shadow: 0 0 15px rgba(51, 51, 51, 0.7);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
  
.card .social-link2:hover {
  background-color: #5865f2;
  transform: scale(1.2);
  box-shadow: 0 0 15px rgba(88, 101, 242, 0.7);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card .social-link1:hover svg, 
.card .social-link2:hover svg {
  transform: scale(0.9); 
  transition: transform 0.3s ease;
}

/* Responsive Design */
@media (max-width: 600px) {
  .settings-page {
    padding: 15px;
    margin: 20px auto;
  }


  .card {
    width: 100%;
  }
}


/* Switch Styles */
.switch {
  position: relative;
  height: 1rem; 
  width: 2rem;  
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 9999px;
  background-color: rgba(100, 116, 139, 0.377);
  transition: all .3s ease;
}

.switch:checked {
  background-color: #C54B8C;
}

.switch::before {
  position: absolute;
  content: "";

  display: block;
  height: 0.9rem; 
  width: 0.9rem; 
  cursor: pointer;
  border: 1px solid rgba(100, 116, 139, 0.527);
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 3px 10px rgba(100, 116, 139, 0.327);
  transition: all .3s ease;
}

.switch:checked::before {
  transform: translateX(1rem);
  border-color: #C54B8C;
}


.form-group {
  display: flex;
  align-items: center; 
}

.form-group label {
  display: flex;
  align-items: center; 
  gap: 8px; 
  color: #fff;
}

.switch:checked:hover::before {
  box-shadow: 0 0 0px 8px rgba(175, 77, 170, 0.15)
}
.switch:hover::before {
  box-shadow: 0 0 0px 8px rgba(0, 0, 0, .15)
}

.changelog-popup {
  display: none;
}
.checkbox-container {
  display: none;
}