/* src/components/SettingsPage.css */

/* General Styling */
body {

  margin: 0;
  padding: 0;
}

/* Settings Page Container */
.settings-page {
  padding: 20px;
  font-family: 'IBMPlexSans', sans-serif;
}

/* Headings */
.settings-page h1 {
  font-size: 24px;
  color: white;
  margin-bottom: 20px;
  border-bottom: 2px solid #C54B8C;
  padding-bottom: 10px;
}

.settings-page h2 {
  font-size: 20px;
  color: #C54B8C;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

/* Form Group */
.form-group {
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  color: #fff;
}

.form-group input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

.form-group input[type="checkbox"] {
  transform: scale(1.2);
  margin-right: 10px;
  cursor: pointer;
}

 #desc-checkbox  {
  font-size: 12px;
  color: #777;
  margin-top: 5px;
}

/* Section Styling */
.settings-page section {
  margin-bottom: 30px;
  padding: 20px;
  /* background-color: #fafafa; */
  border-radius: 8px;
  border: 1px solid #eaeaea;
}

/* Links */
.settings-page a {
  color: #C54B8C;
  text-decoration: none;
  font-weight: bold;
}

.settings-page a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 600px) {
  .settings-page {
    padding: 15px;
    margin: 20px auto;
  }

  .settings-page h1 {
    font-size: 20px;
  }

  .settings-page h2 {
    font-size: 18px;
  }
}

  .boton-elegante {
    padding: 10px 15px;
    border: 2px solid #2c2c2c;
    background-color: #1a1a1a;
    color: #ffffff;
    font-size: 1.0rem;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.4s ease;
    outline: none;
    position: relative;
    overflow: hidden;
    font-weight: bold;
  }
  
  .boton-elegante::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 70%
    );
    transform: scale(0);
    transition: transform 0.5s ease;
  }
  
  .boton-elegante:hover::after {
    transform: scale(4);
  }
  
  .boton-elegante:hover {
    border-color: #666666;
    background: #292929;
  }
  
  