.gamehub {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 55% 1fr 1fr;
    grid-template-areas: 
        "popular-games"
        "newly-added-games"
        "recently-updated-games";
}