body {
  font-family: "Mulish Variable";
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  user-select: none;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

/* COLORS CSS VARIABLES*/
:root[data-theme="default-dark-purple"] {
  --accent-color: rgba(187, 114, 160, 1);
  /* #bb72a0 */
  --secondary-color: rgba(110, 53, 103, 1);
  /* #6e3567 */
  --secondary-30-selected-color: rgba(110, 53, 103, 0.3);
  /* #6e3567 */
  --non-selected-text-color: rgba(236, 224, 240, 0.5);
  /* #ece0f0 */
  --primary-color: rgba(194, 158, 209, 1);
  /* #c29ed1 */
  --secondary-20-color: rgba(110, 53, 103, 0.2);
  /* #6e3567 */
  --text-color: rgba(236, 224, 240, 1);
  /* #ece0f0 */
  --background-color: rgba(11, 7, 14, 1);
  /* #0b070e */
  --70-background-color: rgba(11, 7, 14, 0.7);
  --30-background-color: rgba(11, 7, 14, 0.3);
  --popup-background-color: rgba(15, 9, 18, 1);
  --resume-button-accent-color: #64A3A8;
  --warning-orange: #e65d00;
}

:root[data-theme="forest-dark-green"] {
  --accent-color: rgba(34, 102, 58, 1);
  --secondary-color: rgba(20, 70, 40, 1);
  --secondary-30-selected-color: rgba(20, 70, 40, 0.3);
  --non-selected-text-color: rgba(200, 220, 200, 0.5);
  --primary-color: rgba(46, 139, 87, 1);
  --secondary-20-color: rgba(20, 70, 40, 0.2);
  --text-color: rgba(230, 240, 230, 1);
  --background-color: rgb(14, 13, 13);
  --70-background-color: rgba(14, 13, 13, 0.7);
  --30-background-color: rgba(14, 13, 13, 0.3);
  --popup-background-color: rgb(5, 15, 9);
  --resume-button-accent-color: #4C9A66;
  --warning-orange: #C86432;
}

:root[data-theme="ocean-dark-blue"] {
  --accent-color: rgba(34, 58, 102, 1);
  --secondary-color: rgba(20, 40, 70, 1);
  --secondary-30-selected-color: rgba(20, 40, 70, 0.3);
  --non-selected-text-color: rgba(200, 210, 230, 0.5);
  --primary-color: rgba(46, 87, 139, 1);
  --secondary-20-color: rgba(20, 40, 70, 0.2);
  --text-color: rgba(230, 240, 250, 1);
  --background-color: rgb(13, 14, 30);
  --70-background-color: rgba(13, 14, 30, 0.7);
  --30-background-color: rgba(13, 14, 30, 0.3);
  --popup-background-color: rgb(9, 15, 25);
  --resume-button-accent-color: #4C66C9;
  --warning-orange: #C86432;
}

:root[data-theme="desert-light-beige"] {
  --accent-color: rgb(127 111 90);
  --secondary-color: rgba(190, 160, 120, 1);
  --secondary-30-selected-color: rgba(190, 160, 120, 0.3);
  --non-selected-text-color: rgba(36, 29, 23, 0.5);
  --primary-color: rgba(240, 220, 180, 1);
  --secondary-20-color: rgba(190, 160, 120, 0.2);
  --text-color: rgba(60, 40, 20, 1);
  --background-color: rgb(245, 245, 220);
  --70-background-color: rgba(245, 245, 220, 0.7);
  --30-background-color: rgba(245, 245, 220, 0.3);
  --popup-background-color: rgb(230, 220, 200);
  --resume-button-accent-color: #D2B48C;
  --warning-orange: #C86432;
}

:root[data-theme="dark-orange-mead"] {
  --accent-color: rgba(180, 85, 20, 1);
  --secondary-color: rgba(140, 65, 15, 1);
  --secondary-30-selected-color: rgba(140, 65, 15, 0.3);
  --non-selected-text-color: rgba(220, 200, 180, 0.5);
  --primary-color: rgba(200, 100, 30, 1);
  --secondary-20-color: rgba(140, 65, 15, 0.2);
  --text-color: rgba(240, 220, 200, 1);
  --background-color: rgb(16, 10, 6);
  --70-background-color: rgba(25, 15, 10, 0.7);
  --30-background-color: rgba(25, 15, 10, 0.3);
  --popup-background-color: rgb(20, 10, 5);
  --resume-button-accent-color: #C86432;
  --warning-orange: #A34216;
}

:root[data-theme="le-beau-cyan"] {
  --accent-color: rgba(0, 128, 128, 1);
  --secondary-color: rgba(0, 102, 102, 1);
  --secondary-30-selected-color: rgba(0, 102, 102, 0.3);
  --non-selected-text-color: rgba(200, 240, 240, 0.5);
  --primary-color: rgba(64, 224, 208, 1);
  --secondary-20-color: rgba(0, 102, 102, 0.2);
  --text-color: rgba(240, 255, 255, 1);
  --background-color: rgb(10, 20, 25);
  --70-background-color: rgba(10, 20, 25, 0.7);
  --30-background-color: rgba(10, 20, 25, 0.3);
  --popup-background-color: rgb(5, 15, 20);
  --resume-button-accent-color: #00CCCC;
  --warning-orange: #FF7F50;
}

#router-page {
  height: 100%;
  width: 100%;
}

.main-layout {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: start;
  align-content: stretch;
  justify-items: start;
  justify-content: stretch;


  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;


  grid-template-areas:
    "topbar"
    "content-page";
}

.content-page {
  grid-area: content-page;
  grid-row: 2;
  grid-column: 1;
  height: 100%;
  width: 100%;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}


.notification-wrapper {
  position: fixed;
  /* Makes sure it stays in a specific spot */
  top: 16px;
  /* Adjust the position to your preference */
  right: 16px;
  /* Aligns it to the right corner */
  max-width: 450px;
  /* Keeps it from stretching too wide */
  z-index: 1000;
  /* Ensures it's on top of other components */
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* Adds space between multiple notifications */
}

/* Scrollbar customization */
html::-webkit-scrollbar {
  background-color: rgba(43, 42, 42, 0.2);
  border-radius: 18px;
  display: none;
}

html::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 18px;
}

/* Popup container */
.popup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Ensure the popup takes full screen */
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  overflow: hidden;
}

/* Scrollbar customization for changelog */
.popup-container::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
}

.popup-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

/* Ensure scrollbar respects the rounded corners */
.popup-container {
  border-radius: 20px;
  padding-right: 10px;
  /* Add space on the right to ensure scrollbar fits well */
  box-sizing: border-box;
  overflow-y: auto;
}

.main-content::-webkit-scrollbar {
  display: none;
}

.titlebar {
  height: 30px;
  background: #ffffff00;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100000;
}

.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: white;
}

.titlebar-button:hover {
  color: #df508e;
  cursor: pointer;

}