html, body {
    font-family: "Mulish Variable";
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    user-select: none;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}
/* COLORS CSS VARIABLES*/
:root[data-theme="default-dark-purple"] {
    --accent-color: rgba(187, 114, 160, 1); /* #bb72a0 */
    --secondary-color: rgba(110, 53, 103, 1); /* #6e3567 */
    --secondary-30-selected-color: rgba(110, 53, 103, 0.3); /* #6e3567 */
    --non-selected-text-color: rgba(236, 224, 240, 0.5); /* #ece0f0 */
    --primary-color: rgba(194, 158, 209, 1); /* #c29ed1 */
    --secondary-20-color: rgba(110, 53, 103, 0.2); /* #6e3567 */
    --text-color: rgba(236, 224, 240, 1); /* #ece0f0 */
    --background-color: rgba(11, 7, 14, 1); /* #0b070e */
}

/* TYPOGRAPHIES CSS VARIABLES */
:root {
    --mulish-regular-font-family: "Mulish";
    --mulish-regular-font-size: 36px;
    --mulish-regular-font-weight: 600;
    --mulish-regular-font-style: normal;
    --mulish-regular-line-height: 1;
    --mulish-regular-letter-spacing: 1px;
    --mulish-regular-text-transform: capitalize;
  
    --title-text-font-family: "Mulish";
    --title-text-font-size: 36px;
    --title-text-font-weight: 600;
    --title-text-font-style: normal;
    --title-text-line-height: 1;
    --title-text-letter-spacing: 0px;
    --title-text-text-transform: capitalize;
  
    --mulish-600-font-family: "Mulish";
    --mulish-600-font-size: 26px;
    --mulish-600-font-weight: 600;
    --mulish-600-font-style: normal;
    --mulish-600-line-height: 1;
    --mulish-600-letter-spacing: 0px;
    --mulish-600-text-transform: capitalize;
  
    --non-selected-secondary-font-family: "Mulish";
    --non-selected-secondary-font-size: 12px;
    --non-selected-secondary-font-weight: 300;
    --non-selected-secondary-font-style: normal;
    --non-selected-secondary-line-height: 1;
    --non-selected-secondary-letter-spacing: 0px;
    --non-selected-secondary-text-transform: capitalize;
}
  

.main-layout {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: start;
    align-content: stretch;
    justify-items: start;
    justify-content: stretch;

 
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    

    grid-template-areas:
        "topbar"
        "content-page";
}

.content-page {
    grid-area: content-page;
    height: 100%;
}


.notification-wrapper {
  position: fixed; /* Makes sure it stays in a specific spot */
  top: 16px;       /* Adjust the position to your preference */
  right: 16px;     /* Aligns it to the right corner */
  max-width: 450px; /* Keeps it from stretching too wide */
  z-index: 1000;   /* Ensures it's on top of other components */
  display: flex;
  flex-direction: column;
  gap: 8px;        /* Adds space between multiple notifications */
}

/* Scrollbar customization */
html::-webkit-scrollbar {
  background-color: rgba(43, 42, 42, 0.2);
  border-radius: 18px;
  display: none;
}

html::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 18px;
}

/* Popup container */
.popup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Ensure the popup takes full screen */
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  overflow: hidden;
}

/* Scrollbar customization for changelog */
.popup-container::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
}

.popup-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

/* Ensure scrollbar respects the rounded corners */
.popup-container {
  border-radius: 20px;
  padding-right: 10px; /* Add space on the right to ensure scrollbar fits well */
  box-sizing: border-box;
  overflow-y: auto;
}

.main-content::-webkit-scrollbar {
    display: none;
}

.titlebar {
    height: 30px;
    background: #ffffff00;
    user-select: none;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100000;
}
  
.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color:white;
}
.titlebar-button:hover {
  color: #df508e;
  cursor: pointer;
  
}
  