:root[data-theme="default-dark-purple"] {
    background-color: var(--background-color);
}

body {
    margin: 0;
    padding: 0;
  }

  html,
  body,
  #root {
    height: 100vh; 
    margin: 0; 
  }




