.horizontal-images-slider-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    /* Centered horizontally */
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;

    border: 1px solid var(--accent-color);
    border-radius: 6px;

    will-change: transform, opacity;
    transform: translateZ(0);
    /* Optimize GPU usage */
}

.images-wrapper {
    display: flex;
    position: relative;
    height: 300px;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    margin-bottom: 1em;
    transform: translateZ(0);
    /* Force GPU rendering */
}

.slide {
    position: absolute;
    top: 0;
    width: 26%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;

    &.left {
        transform: translateX(-110%) scale(0.9);
        opacity: 0.6;
        z-index: 2;
    }

    &.right {
        transform: translateX(110%) scale(0.9);
        opacity: 0.6;
        z-index: 2;
    }

    &.hidden {
        opacity: 0;
        z-index: 1;
        pointer-events: none;
    }

    &.active {
        transform: translateX(0) scale(1.2);
        opacity: 1;
        z-index: 3;
    }

    & img {
        height: 250px;
        border-radius: 12px;
        object-fit: cover;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
        transition: transform 0.3s ease;
        cursor: pointer;
    }

    & img:hover {
        transform: scale(0.9);

    }
}

.carousel-skipper-slider-container {
    position: absolute;
    width: 100%;
    display: flex;
    top: 40%;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 10;
}

.carousel-skipper {
    color: var(--accent-color);
    padding: 8px;
    cursor: pointer;
    pointer-events: all;
    display: flex;

    &.hidden {
        display: none;
    }

    & svg {
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            transform: scale(1.2);
            box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4);
            border-radius: 36px;
        }
    }
}

.discovery-game-item-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4px;
    width: 100%;
    padding-top: 1em;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        height: 1px;
        background-color: var(--accent-color);
    }
}

.discovery-game-main-title {
    font-family: "Mulish Variable";
    font-size: 21px;
    font-weight: 600;
}

.discovery-game-secondary-title {
    font-family: "Mulish Variable";
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    color: var(--non-selected-text-color);
}

.discovery-game-tags {
    margin-top: 1em !important;

    & span {
        font-weight: 300;
        font-style: italic;
    }
}

.discovery-game-item-secondary-info {
    display: flex;
    flex-direction: column;
}

.container-star-horinzontal-image-slider {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    user-select: none;
    z-index: 11;

    & input {
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;

        &:checked~svg {
            fill: var(--accent-color);
        }
    }

    & svg {
        position: absolute;
        top: 0;
        right: 0;
        height: 50px;
        width: 50px;
        transition: transform 0.3s;
        fill: #666;

        &:hover {
            transform: scale(1.1);
        }
    }
}