.sidebar-games-container {
    display: grid;
    grid-template-columns: 1fr; /* Change to one column for vertical layout. */
    grid-gap: 10px;
    padding-top: 1vh;
    grid-column: start;
  }
  
  .sidebar-unique-game {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 0.5vh;
    padding-top: 0.7vh;
  }
  
  .sidebar-unique-game img {
    max-width: 10vh;
    max-height: 10vh;
    border-radius: 10px;
    margin-right: 10px; /* Add spacing between image and text */
  }
  
  .sidebar-unique-game p {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit the number of lines to 2 */
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  