/* Sidebar CSS */
.sidebar-space {
    bottom: 0;
    position: fixed;
    width: calc(50% - 17vw); /* Adjust to fit within screen width minus sidebar */
    background-color: rgba(34, 34, 36, 1);
    color: white;
    z-index: 10;
    /* border-radius: 60px 60px 0 0; */
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.5);
    padding: 10px;
    overflow: hidden;
    transform: translateX(17vw);
    transition: transform 2s ease;
    /* max-height: 75vh;  */
    display: inline-flex;
    flex-direction: column;
    height: 100%;
}

.sidebar-space.active {
    transform: translateX(0);
}

/* Stats Panel CSS */
.stats-panel {
    padding: 20px;
}

/* Progress Bar CSS */
.progress-container {
    display: flex;
    align-items: center;
}

/* Progress Bar */
.progress-bar {
    flex-grow: 1;
    display: flex;
    margin-bottom: 2vh;
    height: 8vh;
    align-items: center;
    background-color: #4a90e2;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

/* Progress Indicator */
.progress {
    background-color: #007bff; 
    height: 100%;
    transition: width 0.4s ease-in-out;
}

/* Text on progress bar */
.progress-text {
    position: absolute;
    left: 1em;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

/* Icons Container */
.icons {
    display: flex;
    /* justify-content: space-around; */
    right: 10%;
    align-items: center;
    position: fixed;
    gap: 10px;
    padding-right: 1em;
}

/* Icon styles */
.icon {
    cursor: pointer;
    color: white;
    font-size: 16px;
    transition: color 0.3s;
    height: 24px;
}

.icon-divider {
    height: 20px;
    width: 1px;
    background-color: white;
}

/* Canvas CSS */
canvas {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

/* Pause/Resume Button CSS */
.pause-resume-button {
    text-align: center;
    margin-bottom: 20px;
}

.pause-resume-button button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    display: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pause-resume-button button:hover {
    background-color: #0056b3;
}

.arrow-container.left {
    left: 90%;
    transform: rotate(90deg);
    top: 5%;
}