/* Sidebar CSS */
.sidebar-space {
    bottom: 0;
    position: fixed;
    width: calc(50% - 17vw); /* Adjust to fit within screen width minus sidebar */
    background-color: rgba(34, 34, 36, 1);
    color: white;
    z-index: 10;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.5);
    padding: 10px;
    transform: translateX(17vw);
    transition: transform 2s ease;
    display: flex; 
    flex-direction: column;
    height: 100%;
    overflow-y: auto; 
}

.sidebar-space.active {
    transform: translateX(0);
}

/* Stats Panel CSS */
.stats-panel {
    padding: 20px;
    flex-grow: 1;
}

/* Progress Bar CSS */
.progress-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vh;
}

/* Progress Bar */
.progress-bar {
    flex-grow: 1;
    height: 8vh;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.6);
    background-color: #4a90e2;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start; 
}

/* Progress Indicator */
.progress {
    background-color: #007bff; 
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.6);
    height: 100%;
    border-radius: 5px;
    transition: width 0.4s ease-in-out;
}

/* Text on progress bar */
.progress-text {
    position: absolute;
    left: 1em;
    color: white;
    font-size: 14px;
    font-weight: bold;
    z-index: 1; 
    white-space: nowrap;
}

/* Icons Container */
.icons {
    display: flex;
    /* justify-content: space-around; */
    right: 10%;
    align-items: center;
    position: fixed;
    gap: 10px;
    padding-right: 1em;
}
/* Icon styles */
.icon {
    cursor: pointer;
    color: white;
    -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .8));
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .8));
    font-size: 16px; 
    transition: color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Icon Divider */
.icon-divider {
    height: 24px; 
    width: 2px;
    background-color: white;
    margin: 0 3px;
}



/* Canvas Styles */
canvas {
    width: 100%;
    height: 200px;
    margin-bottom: 10px; 
    padding: 5px;
}
.canvas-container {
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px; 
}

/* Information text below the canvas */
.info-text {
    font-size: 12px; 
    color: #ccc; 
    text-align: center; 
    margin-bottom: 5px; 
}

/* Pause/Resume Button CSS */
.pause-resume-button {
    text-align: center;
    margin-bottom: 20px;
}

.pause-resume-button button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pause-resume-button button:hover {
    background-color: #0056b3;
}

.arrow-container.left {
    left: 90%;
    transform: rotate(90deg);
    top: 5%;
}

/* Peer Information CSS */
.peer-stats-container {
    margin-top: 15px;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-size: 0.8em;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.6);
}

.peer-stats-container h3 {
    margin-bottom: 10px;
    font-size: 1em;
    font-weight: bold;
    color: #f2f2f2;
    text-align: center;
}

.peer-stats-container p {
    margin: 5px 0;
    line-height: 1.6;
}

/* Scrollbar Styles */
.sidebar-space::-webkit-scrollbar {
    width: 8px;
}

.sidebar-space::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3); 
    border-radius: 8px;
}

.sidebar-space::-webkit-scrollbar-track {
    background-color: transparent;
}
